# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=futebol_brasileiro
POSTGRES_USER=admin
POSTGRES_PASSWORD=sua_senha_aqui

# MongoDB
MONGO_USER=admin
MONGO_PASSWORD=admin123
MONGO_DB=futebol_brasileiro
MONGO_URI=mongodb://admin:admin123@localhost:27017/futebol_brasileiro?authSource=admin

# AstraDB (Cassandra)
ASTRA_DB_SECURE_BUNDLE_PATH=app/config/secure-connect-futebol-db.zip
ASTRA_DB_TOKEN_PATH=app/config/futebol_db-token.json
ASTRA_DB_KEYSPACE=brasileirao